h3 
{
    display: inline-block;
}

p
{

}

nav
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.conferencePaperInput
{
    display: inline;
}

.conferenceAbbreviation
{
    font-weight: bold;
    display: inline;
}

.conferenceArticleTitle
{
    display: inline;
}
.conferenceAuthors
{
    display: inline;
}

.authorMe
{
    text-decoration: underline;
    /*display: inline;*/
}

.conferenceName
{
    font-style: italic;
    display: inline;
}
.conferenceDate
{
    display: inline;
}
.conferenceNote
{
    display: inline;
}