h3 
{
    display: inline-block;
}

p
{

}

nav
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.authorMe
{
    display: inline;
    text-decoration: underline;
}

.conferencePaperInput
{
    display: inline;    
}

.conferenceAbbreviation
{
    font-weight: bold;
    display: inline;
}

.conferenceArticleTitle
{
    display: inline;
}
.conferenceAuthors
{
    display: inline;
}

.conferenceName
{
    font-style: italic;
    display: inline;
}
.conferencePlace
{
    display: inline;
}
.conferenceDate
{
    display: inline;
}
.conferenceNote
{
    display: inline;
}

#bio_wrapper
{
    width:100%;
    float: left;
    /*vertical-align:initial;*/
    border:none;
    margin:initial;
}

#bio_photo
{
    width:35%;
    float: left;
    /*vertical-align:initial;*/
    border:none;
    margin:initial;
}

#bio_basic_info
{
    width:45%;
    float: left;
    /*vertical-align:initial;*/
    border:none;
    /*margin:initial;*/
    margin-left: 10px;
}