h3 
{
    display: inline-block;
}

p
{

}

nav
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.conferencePaperInput
{
    display: inline;
}

.conferenceAbbreviation
{
    font-weight: bold;
}

.conferenceAuthors
{
    
}

.conferenceArticleTitle
{
    
}

.conferenceName
{
    font-style: italic;
}
.conferenceDate
{
    
}
.conferenceNote
{
    
}